/* ================================================
   PORTFOLIOEKSAMEN — forside.css
   ------------------------------------------------
   Indhold:
   Sektion 1. Forside grid
   Sektion 2. Responsivt (desktop)
   ================================================ */

/* ------------------------------------------------
   1. SEKTION 1 - Forside grid
   ------------------------------------------------ */

/**** MOBILE FIRST *****/
.forside_grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: 40px;
  margin-block: 75px;
}

.forside_grid img {
  max-width: 80%;
  display: block;
  margin-inline: auto;
}

.kort {
  height: 500px;

  padding-block: 50px;

  display: grid;
  place-content: center;
  text-align: center;

  gap: 2rem;
}

.kort h2 {
  -webkit-text-stroke: 1px var(--color-sort);
  color: transparent;
}

.kort a {
  display: inline-block;
  justify-self: center;

  padding: 0.5rem 1.5rem;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 999px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

/**bevægelsen ved hover effekt på forsiden **/
.kort a:hover {
  transform: scale(1.2);
}

.kort.introtekst {
  background-color: var(--color-brun);
  color: var(--color-sort);

  display: grid;
  justify-content: center;
  align-items: center;
}

.kort.introtekst p {
  max-width: 30ch;
  margin-inline: auto;
  font-size: 1.2rem;
}

/*** Hvert kort **/
.kort.web {
  background-color: var(--color-gul);
  color: var(--color-sort);
}

.kort.ommig {
  background-color: var(--color-lilla);
  color: var(--color-sort);
}

.kort.projekter {
  background-color: var(--color-groen);
  color: var(--color-sort);
}

.kort.uxui {
  background-color: var(--color-offwhite);
  color: var(--color-sort);
}

.kort.kontakt {
  background-color: var(--color-blaa);
  color: var(--color-sort);
}

.kort.userinterface {
  background-color: var(--color-lilla);
  color: var(--color-sort);
}

.kort.tomt {
  background-color: var(--color-blaa);
}

.kort.indhold {
  background-color: var(--color-gul);
  color: var(--color-sort);
}

/* ------------------------------------------------
   1. SEKTION 2 - Responsivt (desktop)
   ------------------------------------------------ */
@media (min-width: 768px) {
  .forside_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 1440px;
    margin: 90px;

    padding-inline: 30px;
  }

  .kort {
    min-height: 350px;
    height: auto;
  }

  .kort img {
    max-width: 60%;
    height: auto;
  }

  .kort h2 {
    font-size: 4rem;
  }

  .kort a {
    font-size: 1.5rem;
  }

  /** bytte rundt på 'velkommen til' og web ***/
  .kort.introtekst {
    grid-column: 2;
    grid-row: 1;
  }
}
