/* ================================================
   PORTFOLIOEKSAMEN —  Kontakt.css
   ------------------------------------------------
   Indhold:
   Sektion 1. Kontakt mobile opsætning
   Sektion 2. Responsivt (desktop)
   ================================================ */

/* ------------------------------------------------
   SEKTION 1 - Kontakt mobile opsætning
   ------------------------------------------------ */
.web_header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*** Fullwidth section ***/
.kontakt_info {
  width: 100%;
  background-color: var(--color-gul);
  margin-block: 20px;
}

.kontakt_info p {
  max-width: 40ch;
  margin-inline: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 20px;
}

.some_ikoner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1rem;
  padding-bottom: 60px;
}

.some_ikoner img {
  width: 50px;
}

/*** Styling af kontakt formular **/
.kontakt_formular {
  background-color: var(--color-brun);
  width: 90%;
  max-width: 500px;

  margin-inline: auto;
  margin-block: 60px;

  padding: 30px;

  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}

.kontakt_formular h3 {
  color: var(--color-offwhite);
  font-size: 1.8rem;
  padding-bottom: 20px;
  padding-top: 30px;
}

.kontakt_form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.kontakt_form input,
.kontakt_form textarea {
  width: 100%;

  box-sizing: border-box;
  outline: none;

  background-color: var(--color-offwhite);

  padding: 0.8rem;

  font-family: var(--font-body);
  font-size: 1rem;
}

.kontakt_form input,
.kontakt_form textarea {
  border: none;
  outline: none;
}
.kontakt_form textarea {
  min-height: 250px;
  resize: none;
}

.kontakt_form button {
  justify-self: center;

  border: none;

  background-color: var(--color-gul);

  padding: 0.5rem 1.5rem;

  background-color: var(--color-gul);
  color: var(--color-sort);

  border-radius: 25px;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;

  margin-bottom: 30px;
}

.kontakt_form textarea {
  margin-top: 40px;
}

/* ------------------------------------------------
   SEKTION 2 - Responsivt (desktop)
   /* ------------------------------------------------ */
@media (min-width: 768px) {
  .kontakt_info {
    margin: 0;
  }
  /* Hele kontaktsektionen */
  .kontakt_wrapper {
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: stretch;
    margin-bottom: 60px;
  }

  /* Venstre kolonne */
  .kontakt_info {
    background-color: var(--color-gul);
    padding: 2rem;
    margin: 0;
  }

  .kontakt_info p {
    max-width: 35ch;
    padding-top: 55px;
  }
  .some_ikoner {
    justify-content: center;
    /* margin-top: 15px; */
  }

  /* Højre kolonne */
  .kontakt_formular {
    /* background-color: var(--color-brun); */
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 1.5rem;
  }

  .kontakt_formular h3 {
    font-size: 2.5rem;
    padding-top: 0;
    margin-bottom: 20px;
  }

  /* Formular */
  .kontakt_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    /* align-items: start;
    margin-top: 3rem; */
  }

  .kontakt_form textarea {
    grid-column: 2;
    grid-row: 1 / span 3;

    min-height: 200px;
    margin-top: 0;
  }

  .kontakt_form button {
    grid-column: 2;
    justify-self: center;
    /* align-self: start; */
    margin-top: 0.5rem;
    /* margin-bottom: 0; */
  }
}
